	<div class="container">
     <H2>
     <center>
	 <strong>
     <span id="categoria_gen">Clasificados</span> por género en la OMA del año
     <span id="year_gen">1998</span>
     </strong>
     </center>
     <H3><center>y valores porcentuales de participantes femeninos.</center></H3>
     </H2>
	 <br>
	 <br>
     <div class="row">
       <div class="col-md-3">
	 <form role="form">
	   <div class="form-group">
	     <label for="name">Seleccione categoría:</label>
	     <select class="form-control" id="cat_listbox_gen">
	       <option>Clasificados</option>
	       <option>Aprobados</option>
	       <option>Premiados</option>
	     </select>
	   </div>
	 </form>
       </div>
       <div class="col-md-3">
	 <form role="form">
       <div class="form-group">
	 <label for="name">Seleccione año:</label><span id="year_label_gen"></span>
	 <input type="range" class="form-control" min="1998" max="2014" id="year_range_gen"></input>
       </div>
       </form>
       </div>
       <div class="col-md-3">
	 <h4>
	 <span id="prov_gen"></span>
	 <span id="percent_gen"></span>
	 </h4>		       
       </div>
     </div>
     
     <div class="row">
       <div class="col-md-5"><div class="svg-gen" id="mapa_gen"></div></div>
       <div class="col-md-4">
       <div class="row"><img src="static/img/leyenda-géneros.svg" height="100px" width="375px"></img></div>
       <div class="row">
       <div class="col-md-2" id="prog_nac_gen"></div>
       </div>
       <div class="row">
       <div class="col-md-2" id="prog_prov_gen"></div>
       </div>
	   <div class="row">
       <div class="col-md-2" id="prog_prov_percent_gen"></div>
       </div>
       </div>
     </div>
	 </div>