<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nacionales OMA</title>
    <meta name="description" content="Blueprint: Responsive Full Width Tabs" />
    <meta name="keywords" content="responsive tabs, full width tabs, template, blueprint" />
    <meta name="author" content="Codrops" />
    <link rel="stylesheet" type="text/css" href="static/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="static/css/component.css" />
    <link rel="stylesheet" type="text/css" href="static/css/mine.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css" />
    <!--[if IE]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  </head>
  <body onload="load_all_vis()">
  	<div class="row">
	    <div class="col-md-4">
	      <div class="nany" id="mapa"></div>
	    </div>
			<div class="col-md-4 container1">
	      <div id="tabs" class="tabs">
					<nav>
					  <ul>
					    <li><a href="#section-1" class="icon-shop"><span>Participación</span></a></li>
					    <li><a href="#section-2" class="icon-cup"><span>Género</span></a></li>
					    <li><a href="#section-3" class="icon-truck"><span>Objetivo</span></a></li>
					  </ul>
					</nav>
					<div class="content">
					  <section id="section-1">
					    {{ a1 }}
					  </section>
					  <section id="section-2">
					    {{ a2 }}
					  </section>
 						<section id="section-3">
					    {{ a3 }}
					  </section>
					</div><!-- /content -->
	      </div><!-- /tabs -->
	      <p class="info"><a href="https://github.com/pablocelayes/nacionalesoma/">Te esperamos también en GitHub!</a></p>			
			</div>  		
  	</div>

    <script src="static/js/d3.v3.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script src="static/js/participacion.js"></script>
    <script src="static/js/generos.js"></script>
    <script src="static/js/patch_cbpFWTabs.js"></script>
    <script src="static/js/cbpFWTabs.js"></script>
    <script>
      new CBPFWTabs( document.getElementById( 'tabs' ) );
    </script>
  </body>
</html>
