input{
       border-right: #a9a9a9 1px solid;
       padding-right: 5px;
       border-top: #a9a9a9 1px solid;
       padding-left: 5px;
       padding-bottom: 5px;
       border-left: #a9a9a9 1px solid;
       padding-top: 5px;
       border-bottom: #a9a9a9 1px solid;
       }	   
	   
.the_title{
	font-family: 'Lato',Calibri,Arial,sans-serif;
	color: rgb(71, 163, 218);
	font-size: 1.525em;
	line-height: 1.2;
	margin: 0px 0px 0.6em;
	float: left;
	font-weight: 400;
}	   

.the_mini_title{
	font-family: 'Lato',Calibri,Arial,sans-serif;
	color: rgb(71, 163, 218);
	font-size: 1.1em;
	line-height: 1.2;
	/* font-weight: 400; */
}	   
	  
	   
.title{
        font-size: 18px;
        font-family: Helvetica,sans-serif;
        display: inline-block;
        }

.square{
         background:green;
         height: 12px;
         width: 12px;
         }

.legend1{
          width: 150px;
          height: 170px;
          align:left;
          position: absolute;
          padding: 10px;
          top: 200px;
          left: 600px;
          border: 1px solid #00F500;
          font-size: 10px;
          font-family: Helvetica,sans-serif;
          }
.map{
      top: 400px;
      left: 400px;
      /*border: 2px solid #00A400;   */
      }

.hover{
        border: 1px solid #CCC;
        }

.normal{
         border: 0px; 	
         }  

.tooltip1 {
            background: none repeat scroll 0% 0% rgb(255, 255, 255);
            color: #333;
            display: none;
            font-size: 18px;
/*            top: 270px;
            left: 730px;*/
            padding: 10px;
            margin-top: 40px;
            margin-left: 40px;
            position: relative;
            text-align: left;
            width: 620px;
            height:720px;
            border: 1px solid #CCC;
            z-index: 10;
            pointer-events: none;
            }

.tooltip2 {   
            position: relative;           
            text-align: center;           
            width: 160px;                  
            height: 100px;
            display: none;  
            padding: 2px;             
            font: 12px sans-serif;        
            background: lightsteelblue;   
            border: 0px;      
            border-radius: 8px;           
            pointer-events: none;         
            }

.tooltip3 {
            position: absolute;
            /*
               top:300;
               */
            left:300;
            text-align: left;
            width: 150px;
            padding: 10px;
            font-size: 10px;
            font-family: Helvetica,sans-serif;
            background: none repeat scroll 0% 0% rgb(255, 255, 255);
            pointer-events: none;
            display: none;
            border: 1px solid #CCC;
            z-index: 10;
            }
.any{ 
      border: 1px solid #CCC;
      } 

.prog-prov{
            background: none repeat scroll 0% 0% rgb(255, 255, 255);
            color: #333;
            display: block;
            font-size: 14px;
            padding: 40px;
            margin-left:40px;
            position: relative;
            text-align: center;
            width: 200px;
            height:200px;
            border: 1px solid #CCC;
            pointer-events: none;
            } 

.datamaps-legend {
                   padding-bottom: 15px;
                   z-index: 1001; 
                   position: relative;
                   left: 4px;
                   font-size: 12px;
                   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                   }

.list-inline {
               padding-left: 0px;
               list-style: outside none none;
               }
.list-inline {
               padding-left: 0px;
               list-style: outside none none;
               }
ul, ol {
         margin-top: 0px;
         margin-bottom: 10px;
         }
li.key {
         border-top-width: 15px;
         border-top-style: solid;
         font-size: 0.75em;
         width: 30px;
         padding-left: 0px;
         padding-right: 0px;
         }
